
body, a, button {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.visibility-hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}

.header {
    display: block;
    width: 100vw;
    height: 58px;
    position: fixed;
    z-index: 1;
    background-color: #00000040;    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 18px 0;
    padding-right: 5%;
    padding-left: 5%;    
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-wrapper a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    transition: 200ms;    
}

.logo-wrapper:hover a {
    color: #01813F;
    transition: 200ms;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.header__list-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 24px;   
    padding-right: 24px;    
    height: 19px;
    width: 126px;   
}

.calendar-img {
    background-image: url("../img/calendar-alt-regular\ 2.svg");
    height: 24px;
    width: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 200ms;
}

.calendar-img:hover {
    background-image: url("../img/calendar-green.svg");
    transition: 200ms;
}


.envelope-img {
    background-image: url("../img/envelope-open-regular\ 1.svg");
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 200ms;
}

.envelope-img:hover {
    background-image: url("../img/envelope-green.svg");
    transition: 200ms;
}


.compass-img {
    background-image: url("../img/compass-regular\ 1.svg");
    height: 24px;
    width: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 200ms;
}

.compass-img:hover {
    background-image: url("../img/compass-green.svg");
    transition: 200ms;
}

.header__list-login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 27px;    
}


.header__list-login-signup a {
    color: #ffffff;
    font-size: 14px; 
    line-height: 1;
    
}

.header__list-login-signup span {
    transition: 500ms;
}

.header__list-login-signup span:hover {
    color: #01813F;
    transition: 500ms;
}




.img-background {
    font-family: 'ubuntu';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/Main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    background-color: #01813F;
}

.container {
    width: 444px;
    margin: 0 auto;
    padding: 0;   
}

.form__wrapper {   
    background-color: #FFFFFF;
    padding: 31px 61px 38px 61px;
    margin-top: 15%;
}

.shape {
    position: relative;
}

.shape:after {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 29px;
    left: 0;
}

.form__signup-login-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.form__signup {
    color: #434343;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.0;
}

.form__login {
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.0;
    transition: 200ms;
}

.form__login:hover {
    color: #01813F;    
    text-decoration: underline;
    transition: 200ms;
}


.buttons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 34px;
    width: 100%;
}

.fb-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 58px;
    background-color: #305DB8;
    border-radius: 4px;
    min-height: 48px;
    border-style: none;
    padding: 0;

    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.0;
    cursor: pointer;
    transition: 200ms;
}

.fb-btn img {
    padding: 2px 13px 2px 11px;    
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    margin-right: 18px;
    
}

.fb-btn:hover {
    background-color: #022263;
    transition: 200ms;
}

.google-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 58px;
    background-color: #DF4A32;
    border-radius: 4px;
    min-height: 48px;
    border-style: none;
    padding: 0;

    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.0;
    cursor: pointer;
    transition: 200ms;
}

.google-btn img {
    padding: 5px 7px 4px 12px;
    border-right: 1px solid rgba(42, 13, 9, 0.1);
    margin-right: 30px;
}

.google-btn:hover {
    background-color: #AB1F09;
    transition: 200ms;
}


.orSeparator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848484;
    margin-bottom: 12px;
    width: 100%;
    column-gap: 20px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.0
}

.stick {
    position: relative;
}


.stick:before {
    content: "";
    position: absolute ;
    display: block;
    width: 45%;
    height: 1px;
    background-color: #F2F2F2;
    top: 50%;
    right: 0;
}


.stick:after {
    content: "";
    position: absolute ;
    display: block;
    width: 45%;
    height: 1px;
    background-color: #F2F2F2;
    top: 50%;
    left: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.form-control__sign-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    gap: 15px;
    font-size: 14px;
    margin-bottom: 12px;
}

.form-control__sign-field input {
    min-width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding: 15px 20px;
    
    color: #434343;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    transition: 200ms;
}

.form-control__sign-field input:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: 200ms;
}


.form-control__sign-field input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-control__sign-field input::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
}
    
.form-control__check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    min-width: 100%;
    margin-bottom: 20px;

    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
}


.form-control__check span {
    color: #3CB878;
    transition: 200ms;
}

.form-control__check span:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #01813F;
    transition: 200ms;
    
}


.form-control button {
    width: 100%;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;

    color: #FFF;
    font-size: 16px;   
    line-height: 1;
    transition: 200ms;
}

.form-control button:hover {
    background: #01813F;
    transition: 200ms;

}














